[*.cs]

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# CA3003: Potential file path injection
dotnet_diagnostic.CA3003.severity = none

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = none
